/*
 * VKey29 / VRanger24 keymap
 *
 * Matrix: 5 rows × 7 columns
 * Bindings are in row-major order: row0_col0 .. row0_col6, row1_col0 .. row4_col6.
 *
 * Adjust each binding to match your physical key positions. Use &trans for
 * positions that have no key on your PCB. See LAYOUT.md for details.
 */
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
            display-name = "Default Layer";
			bindings = <
				/* Row 0 */
				&none     &none     &kp N2    &kp N3    &kp N4    &kp N5   &none    &none     &kp N6    &kp N7    &kp N8    &kp N9    &none     &none
				/* Row 1 */
				&kp ESC   &kp N1    &kp W     &kp E     &kp R     &kp T    &none    &none     &kp Y     &kp U     &kp I     &kp O     &kp N0    &kp LBKT
				/* Row 2 */
				&kp TAB   &kp Q     &kp S     &kp D     &kp F     &kp G    &none    &none     &kp H     &kp J     &kp K     &kp L     &kp P     &kp RBKT
				/* Row 3 */
				&kp CAPS  &kp A     &kp X     &kp C     &kp V     &kp B    &none    &none     &kp N     &kp M     &kp COMMA &kp DOT   &kp SEMI  &kp SQT
				/* Row 4 */
				&kp LSHFT &kp Z     &kp LCTRL &kp LALT  &mo 1     &kp LGUI &kp SPACE &kp RET  &mo 2     &kp BSPC  &kp RALT  &kp LSHFT &kp FSLH  &kp RSHFT
			>;
		};


        upper_layer {
            display-name = "Upper Layer";
            bindings = <
            /* Row 0 */
				&none     &none     &trans    &trans    &trans    &trans    &none    &none     &trans    &trans    &trans    &trans    &none     &none
				/* Row 1 */
				&kp TILDE &trans    &trans    &trans    &trans    &trans    &none    &none     &trans    &trans    &trans    &kp MINUS &kp EQUAL &kp BSLH
				/* Row 2 */
				&kp GRAVE &trans    &trans    &trans    &trans    &trans    &none    &none     &trans    &trans    &trans    &kp UNDER &kp PLUS  &kp PIPE
				/* Row 3 */
				&trans    &trans    &trans    &trans    &trans    &trans    &none    &none     &trans    &trans    &trans    &trans    &trans    &trans
				/* Row 4 */
				&kp LSHFT &trans    &kp LCTRL &kp LALT  &trans    &kp LGUI &kp SPACE &kp RET   &trans    &kp BSPC  &trans    &kp LSHFT &trans    &trans
            >;
        };


        lower_layer {
            display-name = "Lower Layer";
            bindings = <
            /* Row 0 */
			    &none      &none    &kp F2    &kp F3    &kp F4    &kp F5    &none    &none     &kp F6    &kp F7    &kp F8    &kp F9    &none     &none
				/* Row 1 */
				&kp F11 &kp F1 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &none &none &kp C_PREV &kp LEFT &kp DOWN  &kp UP    &kp F10   &kp F12
				/* Row 2 */
				&bt BT_CLR &bt BT_SEL 0 &trans &trans   &trans    &kp C_BRI_UP &none  &none    &kp C_PP  &trans    &trans    &trans    &kp RIGHT &kp C_VOL_UP
				/* Row 3 */
				&trans    &trans    &trans    &trans    &trans    &kp C_BRI_UP &none  &none    &kp C_NEXT &trans   &trans    &trans    &trans    &kp C_VOL_DN
				/* Row 4 */
				&kp LSHFT &trans    &kp LCTRL &kp LALT  &trans    &kp LGUI  &kp SPACE &kp RET  &trans    &kp BSPC  &trans    &kp LSHFT &trans    &kp C_MUTE
            >;
        };
	};
};